@import url("https://fonts.cdnfonts.com/css/open-sauce-one");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Open Sauce One", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem 1rem;
    background-color: #eeeeee;
}

.auth-layout {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container img {
    width: 300px;
    height: auto;
}

form.login-form {
    display: flex;
    border-radius: 20px;
    min-height: fit-content;
    width: 100%;
    max-width: 520px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fdfbfb;
    box-shadow: 0px 0px 4px 1px #0c5894;
    padding: 32px 16px;
}

.login-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

form.login-form input {
    padding: 10px;
    margin-bottom: 30px;
    height: 30px;
    border-radius: 10px;
    width: 71%;
    max-width: 100%;
    border: 0px;
    background-color: #fdfbfb;
    box-shadow: 0px 0px 4px 1px #0c5894;
    box-shadow: inset 0px 0px 12px 3px rgb(217 210 210 / 75%);
    box-sizing: border-box;
}

form.login-form button {
    height: 40px;
    width: 100px;
    max-width: 100%;
    background-color: #fdfbfb;
    font-family: "Open Sauce One", sans-serif;
    border-radius: 10px;
    border: #fdfbfb;
    background-color: #0c5894;
    color: #fdfbfb;
    box-sizing: border-box;
}

.signup-input-container {
    display: flex;
    gap: 10px;
    max-width: 100%;
}

.signup-input-container input {
    flex: 1;
    max-width: 100%;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
        justify-content: flex-start;
    }

    .auth-layout {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    form.login-form {
        width: 100%;
        max-width: 100%;
        padding: 20px;
        box-shadow: none;
    }

    form.login-form input {
        width: 100%;
        max-width: 100%;
    }

    form.login-form button {
        width: 100%;
        max-width: 100%;
    }

    .form-container {
        width: 100%;
        max-width: 520px;
        display: flex;
        justify-content: center;
    }

    .container img {
        width: 100px;
        height: 100px;
    }

    .signup-input-container {
        flex-direction: column;
        width: 100%;
    }
}
        flex-direction: column;
        width: 100%;
    }
}